/* ------- General -------- */

* {
    box-sizing: border-box;
}

html,
button,
input,
select,
a {
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.05rem;
    font-style: normal;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

ul {
    padding: 0;
}

a:visited {
    color: rgb(66, 66, 66);
}

body {
    height: 100vh;
    background-color: rgb(235, 235, 235);
    margin: 0;
}

/* ------- Search bar -------- */

#logo {
    width: 15%;
}

#logo_img {
    display: block;
    width: 85%;
}

.search {
    font-size: 1rem;
}

.search_container {
    display: flex;
    background-color: rgb(66, 66, 66);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.search_item {
    justify-content: space-evenly;
}

.search {
    border-radius: 6px;
    padding: 0.4rem 1rem;
    border: solid rgb(66, 66, 66);
}

#symbol_search {
    width: 35rem;
}

#searchBtn {
    background-color: #64ffda;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #3fa089;
    border: 0;
    color: white;
}

#loginBtn {
    background-color: #818181;
    font-weight: bolder;
    border-radius: 6px;
    border: #818181;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/* ------Main Nav------- */
.main_nav {
    display: flex;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(190, 190, 190);
    justify-content: center;
    font-weight: bolder;
}

.nav_item a {
    display: inline-block;
    padding: 0.2rem 0.4rem;
}

.nav_item {
    padding: 0.4rem 4rem;
}

.nav_item a:hover {
    color: rgb(148, 148, 148);
}

.current {
    border-bottom: 0.15rem solid #3fa089;
    cursor: default;
}

.current:hover {
    color: rgb(66, 66, 66)
}

/* ------Main Content------- */

.content_container {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}


.content_item {
    width: 80%;
    
    margin: 2rem auto;
    border: 5px solid rgb(235, 235, 235);
    border-radius: 5px;
}

.graph {
    height: 400px;
}

.main-svg {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
}

#tradeForm {
    display: flex;
}

#trade {
    width: 80%;
    margin: 2rem auto;
}

.input,
.btn {
    margin: 0 1rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

.btn:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}

#news_ul a {
    text-decoration: underline rgb(66, 66, 66);
}

#news_ul a:hover {
    color: rgb(131, 131, 131);
}

/* ------Watchlist Page------- */

.user_li,
.titles {
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.titles {
    background-color: rgb(180, 180, 180);
}

.user_ul {
    margin: 0;
}

.li_div,
.title {
    margin: 0.5rem 0rem 0.5rem 3rem;
}

/* ------Backtesting Page------- */


.test_input,
.test_label {
    width: 13rem;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    border: 0.1rem solid rgb(180, 180, 180);
    margin: 0.5rem 1rem;
}

.test_label {
    border: none;
}

#addSymbolBtn {
    width: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	background-color: rgb(180, 180, 180);
    border-radius: 1.6rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#backtestBtn {
    background-color: rgb(180, 180, 180);
    margin: 2rem;
}

#addSymbolBtn:hover,
#backtestBtn:hover {
    background-color: rgb(105, 105, 105);
    color: white;
}

/* ------Login Page------- */

#login_form {
    margin: 1rem;
}

.login_input,
.login_label {
    display: inline-block;
    width: 13rem;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    border: 0.1rem solid rgb(180, 180, 180);
    margin: 0.5rem 1rem;
}

.login_label {
    border: none;
}

#signInBtn,
#signUpBtn {
    margin: 1rem 3rem;
}