
/* ------- General -------- */

* {
    box-sizing: border-box;
}

html,
button,
input,
select,
a {
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.05rem;
    font-style: normal;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

ul {
    padding: 0;
}

a:visited {
    color: rgb(66, 66, 66);
}

body {
    height: 100%;
    background-color: rgb(235, 235, 235);
    margin: 0;
}

/* ------- Search bar -------- */

#logo {
    width: 15%;
}

#logo_img {
    display: block;
    width: 85%;
}

.search {
    font-size: 1rem;
}

.search_container {
    display: flex;
    background-color: #424242;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

.search_item {
    justify-content: space-evenly;
}

.search {
    border-radius: 6px;
    padding: 0.4rem 1rem;
    border: solid rgb(66, 66, 66);
}

#symbol_search {
    width: 35rem;
}

#searchBtn {
    background-color: #64ffda;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #3fa089;
    border: 0;
    color: white;
}


.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/* ------Main Nav------- */


.main_nav {
    display: flex;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(190, 190, 190);
    justify-content: center;
    font-weight: bolder;
}

.nav_item a {
    display: inline-block;
    padding: 0.2rem 0.4rem;
}

.nav_item {
    padding: 0.4rem 4rem;
}

.nav_item a:hover {
    color: rgb(148, 148, 148);
}

.current {
    border-bottom: 0.15rem solid #3fa089;
    cursor: default;
}

.current:hover {
    color: rgb(66, 66, 66)
}


/* ------Loader------- */

/* html {
    height: 100%;
}
body {
    height: 100%;
    background: #ea4961;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .loader {
    position: relative;
    width: 75px;
    height: 100px;
}
.loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #fff;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    animation: barUp5 4s infinite;
}
.loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    animation: ball 4s infinite;
}
@keyframes ball {
    0% {
        transform: translate(0, 0);
   }
    5% {
        transform: translate(8px, -14px);
   }
    10% {
        transform: translate(15px, -10px);
   }
    17% {
        transform: translate(23px, -24px);
   }
    20% {
        transform: translate(30px, -20px);
   }
    27% {
        transform: translate(38px, -34px);
   }
    30% {
        transform: translate(45px, -30px);
   }
    37% {
        transform: translate(53px, -44px);
   }
    40% {
        transform: translate(60px, -40px);
   }
    50% {
        transform: translate(60px, 0);
   }
    57% {
        transform: translate(53px, -14px);
   }
    60% {
        transform: translate(45px, -10px);
   }
    67% {
        transform: translate(37px, -24px);
   }
    70% {
        transform: translate(30px, -20px);
   }
    77% {
        transform: translate(22px, -34px);
   }
    80% {
        transform: translate(15px, -30px);
   }
    87% {
        transform: translate(7px, -44px);
   }
    90% {
        transform: translate(0, -40px);
   }
    100% {
        transform: translate(0, 0);
   }
}
@keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
   }
    40% {
        transform: scale(1, 0.2);
   }
    50% {
        transform: scale(1, 1);
   }
    90% {
        transform: scale(1, 1);
   }
    100% {
        transform: scale(1, 0.2);
   }
}
@keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
   }
    40% {
        transform: scale(1, 0.4);
   }
    50% {
        transform: scale(1, 0.8);
   }
    90% {
        transform: scale(1, 0.8);
   }
    100% {
        transform: scale(1, 0.4);
   }
}
@keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
   }
    100% {
        transform: scale(1, 0.6);
   }
}
@keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
   }
    40% {
        transform: scale(1, 0.8);
   }
    50% {
        transform: scale(1, 0.4);
   }
    90% {
        transform: scale(1, 0.4);
   }
    100% {
        transform: scale(1, 0.8);
   }
}
@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
   }
    40% {
        transform: scale(1, 1);
   }
    50% {
        transform: scale(1, 0.2);
   }
    90% {
        transform: scale(1, 0.2);
   }
    100% {
        transform: scale(1, 1);
   }
} */

/* .content_container, */
/* .loader {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #3fa089
} */

/* ------Main Content------- */


.content_container {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
}


.content_item {
    width: 80%;
    
    margin: 2rem auto;
    border: 5px solid rgb(235, 235, 235);
    border-radius: 5px;
}

.financial_graph {
    height: 400px;
}

.main-svg {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
}

#tradeForm {
    display: flex;
    justify-content: space-between;
}

#trade {
    width: 80%;
    margin: 2rem auto;
}

.input,
.btn {
    width: 10rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
}

.btn {
    width: 8rem;
}

.btn:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}

.not_added {
    cursor: pointer;
    background-color: #a0a0a0;
    color: white;
}

.not_added:hover {
    background-color: #3fa089;
}

.added {
    cursor: pointer;
    background-color: #3fa089;
}

.added:hover {
    background-color: #a0a0a0;
}



#news_ul a {
    text-decoration: underline rgb(66, 66, 66);
}

#news_ul a:hover {
    color: rgb(131, 131, 131);
}

.basic_info,
.profile,
#financials {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

#financials {
    justify-content: space-between;
}

.li_div {
    width: 35%;
}
#financials_Yearly,
#financials_Quarterly {
    width: 45%;
}

.intro,
.intro .li_div {
    width: 100%;
    list-style-type: none;
}

.intro .li_div {
    width: 90%;
}

#show_symbol {
    width: 80%;
    margin: 2rem auto;
    font-size: 2.5rem;
    font-weight: bold;
}


/* ------Watchlist Page------- */

.user_li,
.title_li,
.titles {
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.buy_li {
    color: #920000;
}

.sell_li {
    color: rgb(4, 105, 0);
}

.titles {
    background-color: rgb(180, 180, 180);
}

.user_ul {
    margin: 0;
}

.li_div,
.title {
    width: 13rem;
    margin: 0.5rem 0rem 0.5rem 7rem;
}

/* ------Backtesting Page------- */


.test_case {
    margin: 2rem auto;
    width: 80%;
}

.test_input,
.test_label {
    font: 1rem sans-serif;
    display: inline-block;
    width: 20rem;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    border: 0.1rem solid rgb(180, 180, 180);
    margin: 0.5rem 1rem;
}

.test_label {
    border: none;
    width: 13rem;
}

#addSymbolBtn,
#addIndicatorBtn {
    width: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	background-color: rgb(180, 180, 180);
    border-radius: 1.6rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#backtestBtn,
#showGraphBtn {
    background-color: rgb(180, 180, 180);
    margin: 1.5rem 2rem;
}

#addSymbolBtn:hover,
#backtestBtn:hover {
    background-color: rgb(105, 105, 105);
    color: white;
}

#graph_container {
    margin: 2rem;
}
#profit,
#ROI,
#result_graph {
    width: 80%;
    margin: 2rem auto;
}

.graph {
    height: 400px;
    margin: 2rem;
}

.hide {
    display: none;
}

#setOrderBtn {
    width: 20rem;
}

/* ------Login Page------- */

#login_form {
    display: block;
    margin: 3rem auto;
    width: 50%;
}

.login_input,
.login_label {
    display: inline-block;
    width: 30rem;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    border: 0.1rem solid rgb(180, 180, 180);
    margin: 0.5rem 1rem;
}

.login_label {
    border: none;
    width: 13rem;
}

#signInBtn {
    margin: 3rem 1rem 1rem 20rem;
}
#signUpBtn {
    margin: 3rem 1rem 1rem 8rem;
} 

#loginBtn {
    background-color: #818181;
    font-weight: bolder;
    border-radius: 6px;
    border: #818181;
    height: 2.3rem;
    width: 5rem;
    font-size: 1rem;
    cursor: pointer;
}